* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root {
  --blue: #00669f;
  --white: #fff;
  --green: #1cd1b0;
  --grey: #001d2d;
  --light: #f3f3f3;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  height: 10.4rem;
  z-index: 2;
  background-color: var(--blue);
  padding: 2rem 0 2rem 1.5rem;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header a h1 {
  color: var(--white);
  font-weight: normal;
  font-size: 3rem;
}

.promotion {
  background-color: var(--green);
  margin: 0;
  font-size: 15px;
  padding: 5px 0 5px 15px;
}

.menu {
  background-color: var(--grey);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.menu nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.menu nav ul li a {
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
}

.item-navigator:hover {
  color: var(--green);
  cursor: pointer;
}
/*********************Section Card*/
section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 154px 0 151px 0;
  justify-content: center;
  align-items: center;
}

.container-card {
  margin: 0;
  position: relative;
  width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.container-card img {
  display: block;
}
.heart {
  position: absolute;
  top: 16px;
  right: 21px;
  width: 40px;
  height: 40px;
}

.header-profile {
  height: 193px;
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  filter: opacity(100%);
}

.card-profile {
  position: absolute;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  top: 128px;
  left: 90px;
  border: 5px solid #f3f3f3;
}

.card-description {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-description h2 {
  margin: 0;
  padding: 72px 0 10px 0;
  font-size: 30px;
  font-weight: 400;
}
.hero {
  text-transform: uppercase;
}
.harley {
  text-transform: capitalize;
}

.card-description p {
  margin: 0;
  padding: 0 17px 0 16px;
  font-size: 16px;
}

.card-description a {
  font-size: 15px;
  text-decoration: none;
  padding: 15px 36px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  margin: 37px 0 18px 0;
}

.card-description a:hover {
  cursor: pointer;
  background-color: var(--green);
}
.btn-create {
  position: absolute;
  height: 82px;
  width: 82px;
  top: 190px;
  right: 10px;
  font-size: 66px;
  background-color: var(--blue);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  color: white;
  transition: background-color 0.01s ease 0.01s;
}

.btn-create:hover {
  background-color: #001d2d;
  transform: rotate(45deg);
}

footer p {
  margin: 0;
  font-size: 1.3rem;
}

footer {
  text-align: center;
  padding: 1.55rem;
  background-color: var(--blue);
  color: var(--white);
  padding: 16px;
}

@media screen and (min-width: 1024px) {
  section {
    flex-direction: row;
  }
  .btn-create {
    top: 200px;
    right: 30px;
  }
}

@media screen and (min-width: 1240px) {
  .btn-create {
    top: 530px;
    right: 30px;
  }
}
