body {
  box-sizing: border-box;
}
.rojo {
  height: 300px;
  width: 300px;
  background-color: red;
  font-size: 35px;
  color: white;
  font-size: 35px;
  padding: 10px;
  margin: 30px;
}
.azul {
  height: 300px;
  width: 300px;
  background-color: blue;
  font-size: 35px;
  color: white;
}
